
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="fenixedu">
    <meta name="author" content="fenixedu">

    <title>{% block title %}{{ functionality.title.content }}{% endblock %}</title>
    <link href="{{contextPath}}/themes/default/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<script src="{{contextPath}}/bennu-portal/js/jquery.min.js"></script>
	<script src="{{contextPath}}/webjars/fenixedu-canvas/js/bootstrap.min.js"></script>

    <style>
    body {
        background: #f3f3f3;
    }

    .main {
        background: white;
    }
    .navbar-fenixedu .submenu {
        background-color: #39f;
    }
    </style>
    {# PATCHES FOR CANVAS #}
    <style>
        .navbar-fenixedu{
            margin-bottom: -1px;
        }
        .navbar-fenixedu .submenu{
            height:45px;
        }
        .main.container{
            padding-bottom: 20px;
        }
        .footer{
            text-align: center;
        }
        .navbar.navbar-fenixedu .submenu .navbar-nav  .active>a{
            color:white;
        }
        .navbar.navbar-fenixedu .submenu .navbar-nav  .active>a:after{
            border-bottom-color: white;
        }
    </style>

	<script> setLang = function(l) {
	  $.post('{{contextPath}}/api/bennu-core/profile/locale/' + l.replace('_', '-')).always(function() { location.reload(); });
	}
	</script>
  </head>

  <body>
  	{% block body %}
  	<nav class="navbar navbar-fenixedu navbar-static-top" role="navigation">
  			{% block topbar %}
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <h1 class="navbar-brand">{{config.applicationTitle.content}}</h1>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="#">FenixEdu Academic</a></li>
                        <li><a href="#">FenixEdu Learning</a></li>
                        <li><a href="#">FenixEdu Drive</a></li>
                        <li><a href="#">FenixEdu Gears</a></li>
                        <li><a href="#">FenixEdu Scholar</a></li>
                    </ul>
                </li>
                <!--<li class="btn btn-icon btn-default"><a href="#"><i class="icon icon-lifebuoy"></i></a></li>-->
                <li class="dropdown">
                		{% if loggedUser is null %}
	                		<a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
	                        <img tooltip="{{loggedUser.profile.displayName}}" src="{{contextPath}}/img/mysteryman.svg" class="img-circle">
	                    </a>
	                    <ul class="dropdown-menu dropdown-menu-right">
	                      <li><a href="{{contextPath}}/login">{{ i18n('resources.DefaultThemeResources', 'label.login') }}</a></li>
											</ul>
                		{% else %}
	                    <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
	                        <img tooltip="{{loggedUser.profile.displayName}}" src="{{loggedUser.profile.avatarUrl}}?s=32" class="img-circle">
	                    </a>
	                    <ul class="dropdown-menu dropdown-menu-right">
	                      {% for locale in locales %}
													{% if locale == currentLocale %}
														<li class="disabled" ><a href="#">{{ i18n('resources.DefaultThemeResources', locale) }}</a></li>
													{% else %}
														<li><a onclick="setLang('{{locale}}')">{{ i18n('resources.DefaultThemeResources', locale) }}</a></li>
													{% endif %}
										 		{% endfor %}
										 		<li><a href="{{contextPath}}/logout">{{ i18n('resources.DefaultThemeResources', 'label.logout') }}</a></li>
											</ul>
										{% endif %}
                </li>
            </ul>
                    
            <div class="scroller scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></div>
            <div class="scroller scroller-right"><i class="glyphicon glyphicon-chevron-right"></i></div>
            <div class="wrapper">
                <div class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav list">
                    		{% if not config.menu.userMenu is empty %}
                    		{% lazyFor item in config.menu.userMenuStream %}
                    		<li class="{% if item == selectedTopLevel %}active{% endif %}"><a href="{{contextPath}}/{{item.path}}" alt="{{item.description.content}}">{{item.title.content}}</a></li>
                        {% endLazyFor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
                    
        <div class="submenu">
            <div class="container">
                <div class="navbar">
                    <ul class="nav navbar-nav" menu="{{id}}">
                    	{% lazyFor child in selectedTopLevel.userMenuStream %}

                            <li{% if child is in(pathFromRoot) %} class="active"{% endif %}><a href="{{contextPath}}{{child.fullPath}}" alt="{{ child.description.content }}"><span>{{ child.title.content }}</span></a></li>
						{% endLazyFor %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>

		<div class="main container">
				{{body}}
		</div>

		<hr />

		{% block footer %}
		<div class="row">
			<div class="col-md-4 col-md-offset-4 footer">
				{{config.applicationCopyright.content}}
			</div>
		</div>
		{% endblock %}
		</div>

		{% endblock %}
	</body>
</html>