<!DOCTYPE html>
<html lang="{{currentLocale.language}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="fenixedu">
    <meta name="author" content="fenixedu">

    {% if alerts.size != 0 %}
    <meta name="alerts" content='{{ alerts }}'>
    {% endif %}


    <title>{% block title %}{{ functionality.title.content }} · {{ selectedTopLevel.title.content }}{% endblock %}</title>
    <link href="{{contextPath}}/fenixedu-canvas/css/canvas.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{contextPath}}/bennu-portal/js/jquery.min.js"></script>
    <script src="{{contextPath}}/fenixedu-canvas/js/bootstrap.min.js"></script>
    <script> setLang = function(l) {
        $.post('{{contextPath}}/api/bennu-core/profile/locale/' + l.replace('_', '-')).always(function() { location.reload(); });
    }
    </script>

    <link rel="shortcut icon" type="image/x-icon" href="{{contextPath}}/api/bennu-portal/configuration/favicon">
</head>

<body>
{% block body %}
    <nav class="navbar navbar-default navbar-general navbar-static-top" role="navigation">
        {% block topbar %}
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <ul class="nav navbar-nav visible-lg-block visible-md-block navbar-floating-items">
                <li class="navbar-brand">
                    <a href="{{contextPath}}/" target="_blank">{{config.applicationTitle.content}}</a>
                </li>

                {% if functionality.documentationUrl is not empty %}
                <li class="navbar-help">
                    <a href="{{functionality.parsedDocumentationUrl}}" class="navbar-icon"><i class="icon icon-lifebuoy"></i></a>
                </li>
                {% endif %}

                <li class="navbar-userarea" class="dropdown">
                    {% if loggedUser is null %}
                        <a role="button" class="dropdown-toggle avatar" data-toggle="dropdown">
                            <img src="{{contextPath}}/img/mysteryman.svg">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="{{contextPath}}/login">Login</a></li>
                        </ul>
                    {% else %}
                        <a role="button" class="dropdown-toggle avatar" data-toggle="dropdown">
                            <img tooltip="{{loggedUser.profile.displayName}}" src="{{loggedUser.profile.avatarUrl}}?s=30">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" style="text-transform: capitalize">
                            {% for locale in locales %}
                                {% if locale == currentLocale %}
                                    <li class="disabled">
                                        <a role="button">{{locale.displayName}}</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a role="button" onclick="setLang('{{locale}}')">{{locale.displayName}}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            <li>
                                <hr />
                            </li>
                            <li>
                                <a href="{{contextPath}}/logout">Logout</a>
                            </li>
                        </ul>
                    {% endif %}
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-breadcrumb" role="navigation">
                {% lazyFor path in pathFromRoot %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="{{contextPath}}{{path.fullPath}}" alt="{{path.description.content}}">
                            {{path.title.content}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            {% lazyFor item in path.parent.userMenuStream %}
                                <li {% if item == path %}class="active"{% endif %}>
                                    <a href="{{contextPath}}{{item.fullPath}}" alt="{{item.description.content}}">
                                        {{item.title.content}}
                                    </a>
                                </li>
                            {% endLazyFor %}
                        </ul>
                    </li>
                {% endLazyFor %} 
            </ul>
        </div>
        {% endblock %}
    </nav>

    <div class="container" style="min-height: 95vh;">
        <div class="main-content-body">
            {{body}}
        </div>
    </div>

    <hr />

    {% block footer %}
    <div class="container">
        <div class="row">
            <p class="col-md-12 text-center">
                {{config.applicationCopyright.content}}
            </p>
        </div>
    </div>
    {% endblock %}
{% endblock %}
</body>
</html>